.fly-panel.fly-column
	.layui-container
		.layui-clear
			a(href="") html
			a(href="") html
			a(href="") html
			a(href="") html
			a(href="") html
			a(href="") html
			a(href="") html

		.layui-hide-sm
			a(href="/article") 发表新帖